[submodule "backend"]
	path = backend
	url = https://git.lug.ustc.edu.cn/kamino/WebIDE-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://git.lug.ustc.edu.cn/kamino/WebIDE-Frontend.git
[submodule "frontend-webjars"]
	path = frontend-webjars
	url = https://git.lug.ustc.edu.cn/kamino/WebIDE-Frontend-Webjars.git
