[submodule "backend"]
	path = backend
	url = https://git.coding.net/coding/WebIDE-Backend.git
[submodule "frontend"]
	path = frontend
	url = https://git.coding.net/coding/WebIDE-Frontend.git
[submodule "frontend-webjars"]
	path = frontend-webjars
	url = https://git.coding.net/coding/WebIDE-Frontend-Webjars.git
